
.vs/config/applicationhost.config
.vs/DESUBot/DesignTimeBuild/.dtbcache
.vs/DESUBot/v15/.suo
.vs/DESUBot/v15/Server/sqlite3/db.lock
.vs/DESUBot/v15/Server/sqlite3/storage.ide
.vs/DESUBot/v15/Server/sqlite3/storage.ide-shm
.vs/DESUBot/v15/Server/sqlite3/storage.ide-wal
.vs/GIRUBotV3/DesignTimeBuild/.dtbcache
DESUBot/.vs/DESUBot/DesignTimeBuild/.dtbcache
DESUBot/.vs/DESUBot/v15/.suo
DESUBot/.vs/DESUBot/v15/Server/sqlite3/db.lock
DESUBot/.vs/DESUBot/v15/Server/sqlite3/storage.ide
DESUBot/.vs/DESUBot/v15/Server/sqlite3/storage.ide-shm
DESUBot/.vs/DESUBot/v15/Server/sqlite3/storage.ide-wal
DESUBot/.vs/GIRUBotV3/v15/.suo
DESUBot/bin/Debug/netcoreapp2.0/DESUBot.deps.json
DESUBot/bin/Debug/netcoreapp2.0/DESUBot.dll
DESUBot/bin/Debug/netcoreapp2.0/DESUBot.pdb
DESUBot/bin/Debug/netcoreapp2.0/DESUBot.runtimeconfig.dev.json
DESUBot/bin/Debug/netcoreapp2.0/DESUBot.runtimeconfig.json
DESUBot/bin/Debug/netcoreapp2.0/DESUDB.db
DESUBot/Config.cs
DESUBot/obj/Debug/netcoreapp2.0/DESUBot.AssemblyInfo.cs
DESUBot/obj/Debug/netcoreapp2.0/DESUBot.AssemblyInfoInputs.cache
DESUBot/obj/Debug/netcoreapp2.0/DESUBot.assets.cache
DESUBot/obj/Debug/netcoreapp2.0/DESUBot.csproj.CoreCompileInputs.cache
DESUBot/obj/Debug/netcoreapp2.0/DESUBot.csproj.FileListAbsolute.txt
DESUBot/obj/Debug/netcoreapp2.0/DESUBot.csprojAssemblyReference.cache
DESUBot/obj/Debug/netcoreapp2.0/DESUBot.dll
DESUBot/obj/Debug/netcoreapp2.0/DESUBot.pdb
DESUBot/obj/Debug/netcoreapp2.0/GIRUBotV3.AssemblyInfo.cs
DESUBot/obj/Debug/netcoreapp2.0/GIRUBotV3.AssemblyInfoInputs.cache
DESUBot/obj/Debug/netcoreapp2.0/GIRUBotV3.assets.cache
DESUBot/obj/Debug/netcoreapp2.0/GIRUBotV3.csproj.CoreCompileInputs.cache
DESUBot/obj/Debug/netcoreapp2.0/GIRUBotV3.csproj.FileListAbsolute.txt
DESUBot/obj/Debug/netcoreapp2.0/GIRUBotV3.csprojAssemblyReference.cache
DESUBot/obj/Debug/netcoreapp2.0/GIRUBotV3.csprojResolveAssemblyReference.cache
DESUBot/obj/Debug/netcoreapp2.0/GIRUBotV3.dll
DESUBot/obj/Debug/netcoreapp2.0/GIRUBotV3.pdb
DESUBot/obj/Release/netcoreapp2.0/GIRUBotV3.AssemblyInfo.cs
DESUBot/obj/Release/netcoreapp2.0/GIRUBotV3.AssemblyInfoInputs.cache
DESUBot/obj/Release/netcoreapp2.0/GIRUBotV3.csproj.CoreCompileInputs.cache
DESUBot/obj/Release/netcoreapp2.0/GIRUBotV3.csproj.FileListAbsolute.txt
DESUBot/obj/Release/netcoreapp2.0/GIRUBotV3.csprojResolveAssemblyReference.cache
DESUBot/obj/Release/netcoreapp2.0/GIRUBotV3.dll
DESUBot/obj/Release/netcoreapp2.0/GIRUBotV3.pdb
